# Ignore folders
c8y/
dashboard/
demo/
fsm/
fsm-bridge/
fsm-busines-rules/
fsm-extension/
fsm-mobile-webhook-microservice/
fsm-syn-microservice/c8y-fsm-sync-microservice-java/target/
fsm-syn-microservice/c8y-fsm-sync-microservice-java/src/test/

# Ignore files
c8y-connector-didntwork.docx
c8y-oas-apis-swagger.json
c8y-oas.yml
Cumulocity API.json
FSM-Integration
important_urls.txt
SAP Integration Suite - Open Connectors Setup & Testing.md
sap-service-key.json
fsm-syn-microservice/.DS_Store
fsm-syn-microservice/cloude-output.docx
fsm-syn-microservice/fsm-tenant-options
fsm-syn-microservice/c8y-fsm-sync-microservice-java/.dockerignore.local
fsm-syn-microservice/c8y-fsm-sync-microservice-java/.dockerignore.prod
fsm-syn-microservice/c8y-fsm-sync-microservice-java/.DS_Store
fsm-syn-microservice/c8y-fsm-sync-microservice-java/c8y-fsm-sync-ms.zip
fsm-syn-microservice/c8y-fsm-sync-microservice-java/c8y-fsm-sync-ms.zip.org
fsm-syn-microservice/c8y-fsm-sync-microservice-java/c8y-fsm-sync-ms.zip.org260226.zip
fsm-syn-microservice/c8y-fsm-sync-microservice-java/c8y-fsm-sync-ms.zip.org290126.zip
fsm-syn-microservice/c8y-fsm-sync-microservice-java/c8y-fsm-sync-ms.zip.org300126.zip
fsm-syn-microservice/c8y-fsm-sync-microservice-java/create_zip_file.sh
fsm-syn-microservice/c8y-fsm-sync-microservice-java/deploy_locally.sh
fsm-syn-microservice/c8y-fsm-sync-microservice-java/image.tar
fsm-syn-microservice/c8y-fsm-sync-microservice-java/src/main/resources/application-local.yml
fsm-syn-microservice/c8y-fsm-sync-microservice-java/src/main/resources/entrypoint.sh






